<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173867017246-8k30mn7la18pp9vkcek408qsubuhvria.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173867017246-8k30mn7la18pp9vkcek408qsubuhvria</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>173867017246-gmeqtf22rchb2ivkmdf1uul081cr3glf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT4cr9e7UNgZ_lDaiZh8oqZC9UI7Q0Y24</string>
	<key>GCM_SENDER_ID</key>
	<string>173867017246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farmer.farmus</string>
	<key>PROJECT_ID</key>
	<string>farmus-7193a</string>
	<key>STORAGE_BUCKET</key>
	<string>farmus-7193a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173867017246:ios:b6b67b8e41093e6796ba0f</string>
</dict>
</plist>